<div class="centered-content">
    <div class="content">
        <div class="center-vertically">
            <div class="log-angular">
                <mat-card class="example-card" style="background-color: white;">
                    <img mat-card-image src="../../../assets/angular.png" alt="Photo of a Shiba Inu">
                </mat-card>
            </div>
        </div>

        <form [formGroup]="myForm">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center">
                    <mat-form-field class="example-full-width">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="name" [inputTransformFn]="inputTransformFn" [outputTransformFn]="outputTransformFn" mask="S*" />
                        <mat-error *ngIf="myForm.get('name')?.hasError('required')">El nombre es requerido.</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <mat-form-field class="example-full-width">
                        <mat-label>Apellido</mat-label>
                        <input matInput formControlName="surname" [inputTransformFn]="inputTransformFn" [outputTransformFn]="outputTransformFn" mask="S*">
                        <mat-error *ngIf="myForm.get('surname')?.hasError('required')">El apellido es requerido.</mat-error>
                    </mat-form-field>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center">
                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                        <mat-error *ngIf="myForm.get('email')?.hasError('required')">El correo es requerido.</mat-error>
                        <mat-error *ngIf="myForm.get('email')?.hasError('email')">El correo no es válido.</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <mat-form-field class="example-full-width">
                        <mat-label>Celular</mat-label>
                        <input matInput formControlName="phone" type='text' mask="9999999999" [allowNegativeNumbers]="false">
                        <mat-error *ngIf="myForm.get('phone')?.hasError('required')">El número de celular es requerido.</mat-error>
                    </mat-form-field>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center">
                    <mat-form-field class="example-full-width">
                        <mat-label>Dirección</mat-label>
                        <input matInput formControlName="address">
                        <mat-error *ngIf="myForm.get('address')?.hasError('required')">La dirección es requerida.</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <mat-form-field class="example-full-width">
                        <mat-label>Nacionalidad</mat-label>
                        <input matInput formControlName="country">
                        <mat-error *ngIf="myForm.get('country')?.hasError('required')">La nacionalidad es requerida.</mat-error>
                    </mat-form-field>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <div class="d-flex justify-content-center" style="flex-direction: row;">
                        <div class="back">
                            <button mat-flat-button color="primary" (click)="home()">Volver</button>
                        </div>
                        <div>
                            <button mat-flat-button color="primary" (click)="openDialog()" [disabled]="myForm.valid">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
