<div class="grid__wrapper">
    <igx-grid  #grid1 [data]="data" [autoGenerate]="false" height="500px" width="100%" [sortingOptions]="sortingOptions">
        <igx-column field="ID" header="ID" [groupable]="true"  [sortable]="true">
        </igx-column>
        <igx-column field="Name" header="Name" [dataType]="'string'" [groupable]="true" [sortable]="true">
        </igx-column>
        <igx-column field="Phone" header="Phone" [dataType]="'string'" [groupable]="true" [sortable]="true">
        </igx-column>
        <igx-column field="Title" header="Title" [dataType]="'string'" [groupable]="true" [sortable]="true">
        </igx-column>
        <igx-column field="ShippedDate" header="Shipped Date" [dataType]="'date'" [formatter]="formatDate" [sortable]="true">
        </igx-column>
    </igx-grid>
</div>
