<div class="grid__wrapper">
    <igx-grid   #grid1 [data]="data" [moving]="true" [autoGenerate]="false" height="850px" width="100%" [allowFiltering]="true" [filterMode]="'excelStyleFilter'">
        <igx-column field="ID" header="ID" [groupable]="true"  [sortable]="true">
        </igx-column>
        <igx-column field="Name" header="Name" [dataType]="'string'" [groupable]="true" [sortable]="true">
        </igx-column>
        <igx-column field="Phone" header="Phone" [dataType]="'string'" [groupable]="true" [sortable]="true">
        </igx-column>
        <igx-column field="Title" header="Title" [dataType]="'string'" [groupable]="true" [sortable]="true">
        </igx-column>
        <igx-column field="ShippedDate" header="Shipped Date" [dataType]="'date'" [formatter]="formatDate" [sortable]="true">
        </igx-column>
        <igx-column field="ProductName" header="Product Name" [sortable]="true" [dataType]="'string'">
        </igx-column>
    </igx-grid>
</div>
<div class="row">
    <div class="col-md-12 d-flex justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="back">
                <button mat-flat-button color="primary" (click)="home()">Volver</button>
            </div>
        </div>
    </div>
</div>