<mat-card class="example-card">
  <mat-card-content>
    <div>
      <div>
        <button mat-icon-button (click)="cerrarModal()" class="cerrar-icon">
          <mat-icon style="color: red;">close</mat-icon>
        </button>
      </div>
      <div>
        <span class="example-card-title" style="font-size: 30px;">Información del Usuario</span>
      </div>

    </div>

    <ul class="list-unstyled">
      <li>
        <strong>Nombre:</strong> {{ data.name }}
      </li>
      <li>
        <strong>Apellido:</strong> {{ data.surname }}
      </li>
      <li>
        <strong>Email:</strong> {{ data.email }}
      </li>
      <li>
        <strong>Celular:</strong> {{ data.phone }}
      </li>
      <li>
        <strong>Dirección:</strong> {{ data.address }}
      </li>
      <li>
        <strong>Nacionalidad:</strong> {{ data.country }}
      </li>
    </ul>
  </mat-card-content>
</mat-card>