<mat-card class="example-card">
  <mat-card-content>
    <h2 class="example-card-title">Información del Usuario</h2>
    <ul class="list-unstyled">
      <li>
        <strong>Nombre:</strong> {{ data.name }}
      </li>
      <li>
        <strong>Apellido:</strong> {{ data.surname }}
      </li>
      <li>
        <strong>Email:</strong> {{ data.email }}
      </li>
      <li>
        <strong>Celular:</strong> {{ data.phone }}
      </li>
      <li>
        <strong>Dirección:</strong> {{ data.adress }}
      </li>
      <li>
        <strong>Nacionalidad:</strong> {{ data.country }}
      </li>
    </ul>
  </mat-card-content>
</mat-card>


