.cerrar-icon {
    position: absolute;
    top: 5px; /* Ajusta la posición superior según tu diseño */
    right: 5px; /* Ajusta la posición derecha según tu diseño */
    z-index: 1; /* Asegura que esté por encima del contenido del mat-card */
  }

  .list-unstyled {
    margin-top: 22px;
  }

  
  
  
  
  
  